@using Applications.Services
@inject ICategoryService categoryService

@{
    var categories = await categoryService.GetAll();
}
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="Admin" asp-controller="Home" asp-action="Index">MazaQ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                @* <li class="nav-item">
                    <a class="nav-link" asp-area="Identity" asp-controller="Home" asp-action="Index">
                        Home
                    </a>*@
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="GetAll">Categories</a>
                </li> 
                <!-- Dropdown Categories -->
                @* <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var category in categories)
                        {
                            <li>
                                <a class="dropdown-item"
                                   asp-area="Admin"
                                   asp-controller="Category"
                                   asp-action="Details"
                                   asp-route-Id="@category.Id">
                                    @category.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li> *@
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="MenuItem" asp-action="GetAll">Menu Items</a>
                </li>


                @* Authentication Links *@
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu">
                            @* <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a> *@

                            @if (User.IsInRole("Admin"))
                            {
                                <a class="dropdown-item" asp-area="Identity" asp-controller="Order" asp-action="MyOrders">My Orders</a>
                            }
                            <div class="dropdown-divider"></div>
                            <form asp-area="Identity" asp-controller="Account" asp-action="SignOut" method="post" class="d-inline">
                                <button type="submit" class="dropdown-item">Log Out</button>
                            </form>
                        </div>
                    </li>

                    @* Admin Links *@
                    @* @if (User.IsInRole("Admin")) *@
                    @* { *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="AddRole">Add Roles</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="AssignRole">Assign Roles</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="GetAllRoles">Get All Roles</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">All Orders</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Create">Add Category</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="MenuItem" asp-action="Create">Add Menu Item</a>
                            </div>
                        </li>
                    @* } *@
                }
                @* else *@
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }
            </ul>

            @* Search Form *@
            <form class="d-flex" asp-area="" asp-controller="MenuItem" asp-action="Search" method="get">
                <input class="form-control me-sm-2" type="search" name="searchTerm" placeholder="Search menu...">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            @* User Greeting *@
            @if (User.Identity.IsAuthenticated)
            {
                <span class="navbar-text ms-3">
                    Hello  @User.Identity.Name
                </span>
            }
        </div>
    </div>
</nav>